/* CSS Document */
.container{
	
	margin: auto;
}

.nav{
	float: right;
	margin-right: 10px;


}

ul{
	list-style-type: none;
	float: right;

}

li{
	display: inline-block;
	margin-right: 10px;
	color: #1A1A1A;
}
tbody {
	margin-top: 50px;
}

.portfolio {
	margin-top: 50px;
	float:left ;
}

.btn{
	margin-top: 100px;
	float: left;
}