/* CSS Document */
body{
	margin: 0;
	width: auto;
	font-family: 'Roboto', sans-serif;
}
.container{
	width: 1000px;
	margin: auto;
	height: 1500px;
}
.navbar{
	background-color: #FFF;
	color: #000000;
	position: fixed;
	width: 1000px;
	z-index: 1;
}
ul{
	list-style: none;
	padding-left: 0;
	overflow: hidden;
	width: 50%;
}

li{
	float: left;
	padding: 10px 0px 6px;
	margin: 0px 15px 7px; 
	transition: all .3s ease-in;
}

li:hover{
	float: left;
	padding: 10px 0px 1px;
	margin: 0px 15px 7px;
	border-bottom: 3px solid #1784FF;
	transition: all .3s ease-in;
}

input {
	float: right;
	margin-top: 30px;
}
.container .header{
	height: 500px;
	background-color: #18DA9D;
	padding-top: 74px;
	
}

.social {
	margin-top: 90px;
	margin-right: 20px;
	background-color: rgba(44, 44, 44, 0.5);
	position: relative;
	width: 194px;
	float: right;
	border-radius: 9px;
	color: white;
	height: 40px;
}
.social img{
	margin-top: 3px;
	width: 35px;
	padding-right: 10px;

}
.wrapper {
	background:transparent url(https://www.motorola.com/sites/default/files/styles/hero_-_background_image_desktop_1x/public/library/storage/products/moto-360/desktop/global/moto_360_hero_d_2-3be2j3e66.jpg?itok=NG8zj33Y&amp;timestamp=1472829439) no-repeat center center;
	height: 500px;
}
p{
font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
line-height: 20px;
}

.images{
 
    width: 1000px;
    float: left;
    padding-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    padding-top: 20px;
    padding-right: 0;


}
.images .icons{
	display:inline-block;
    width: 247px; 
    height: 240px; 
	margin-left: 0;
-webkit-transition:all 0.5s ease-in-out;
-moz-transition:all 0.5s ease-in-out;
-o--transition:all 0.5s ease-in-out;
-transition:all 0.5s ease-in-out;

}

.icons:hover img{
-webkit-transform: scale(0.5);
-moz-transform: scale(0.5);
-o-transform: scale(0.5);
transform: scale(0.5);
 }

p{
	margin-bottom: 1px;
}

.specific{
	width: 100%;
	height: 427px;
	margin-top: 270px;
	background-color: #EED1C9;
	font-family: 'Roboto', sans-serif;
}

.specific h2{
	color: #07BCD4;
	margin-left: 510px;
	font-family: 'Roboto', sans-serif;
}

.specific .imghvr-fade{
	float: left;
	width: 50%;
	
}

.specific h3{
	margin-left: 510px;
	font-family: 'Roboto', sans-serif;
}
.specific p{
	margin-left : 510px;
	font-family: 'Roboto', sans-serif;
}
.specific .android{
	margin-left: 510px;
	font-family: 'Roboto', sans-serif;
}
.specific .battery{
	margin-left: 510px;
	font-family: 'Roboto', sans-serif;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #000;
	background-image: url('searchicon.png');
	    background-position: 10px 10px; 
    background-repeat: no-repeat;
	width: 150px;
}