/* CSS Document */
/*.container{
	width: auto;
	height: 100px;

}
*/
ul {
	list-style-type: none;
	display: inline-block;
	float: right;
	margin-right: 20px;
	color : white;
}

li {
	display: inline-block;
	margin-right: 10px;
transition: 0.1s;
}

ul li:hover{
	color: aqua;
	transition-delay: 0.1s;
}

.logo {

}

.header {
	background-image: url(img/macbook.jpeg);	
/*	background-image: url(header.jpg);*/
	/*background-color: #3dacff;*/
	background-size: 1300px;
	width: auto;
	height: 400px;
	padding: 0;
	
}
.overlay{
	margin-top: 0px;
	height: 3%0PX;
 width: 100%;
		background-image: url(img/macbook.jpeg);
  background-position-y: -200px;
	background-position-x: -10px;
}
/*.overlay {
	top:0;
	height: 600PX;
 width: 100%;
	background-color:blue;
   opacity: 0.3;
left: 0;
}*/

/*.header:hover {
	opacity: 0.1;
	color: #000000;
}*/
	
body {
	margin-top: -20px;
	margin: 0;
font-family: 'Montserrat', sans-serif;
}

h1 {
	margin-top: auto;
	margin-left: 10px;
	 transition: color 1000ms linear;
	font-family: 'Montserrat', sans-serif;
	

}

pre {
	margin-top: auto;
	color: black;
	font-family: 'Open Sans', sans-serif;
}


.h11 {
	font-size: 19px;
	color :black;
	margin-top: 10px;
	margin-bottom: auto;
	font-family: 'Montserrat', sans-serif;
}

.web design {
	display: inline-block;
	margin-top: 100px;
	margin-left: 10px;
width: 200px;
	font-family: 'Montserrat', sans-serif;
}

.mobile {
	display: inline-block;
	margin-left: 100px;
	font-family: 'Montserrat', sans-serif;
}

.concept {
	margin-top: 75px;
	color: black;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
	margin-left: 90px;
}

.design {
	display: inline-block;
	margin-top: 30px;
	margin-right: 1px;
	color: black;
font-family: 'Montserrat', sans-serif;
}

h13 {
	text-align: center;
	margin-top: 10px;
	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.work {
	text-align: center;
	margin-top: 50px;
	margin-bottom: -20px;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
}

.about {
	text-align: center;
	color: black;
margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
}

h10 {
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}

.all {
	text-align: center;
	margin-top: -20px;
	font-family: 'Montserrat', sans-serif;
}




.portflio {
	margin-top: 100px;
	font-family: 'Montserrat', sans-serif;
}

img {
	z-index: -1;
	width: 500px;
	margin-top: 100px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}

.what {
	text-align: center;
	height: 50px;
	font-family: 'Montserrat', sans-serif;
}

.us {
	margin-left: 20px;
	margin-top: 60px;
	height: 70px;
}

.logo .icon i {
	color: black;
	margin-top: 30px;
}
